# ------------------------------------------------------------------------------
# Dependencies

**/node_modules
**/package-lock.json

# ------------------------------------------------------------------------------
# Build and test artifacts

**/build

# ------------------------------------------------------------------------------
# Logs

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/report.*.json
**/output/*
**/logs/*
**/*.log
**/*.err

# ------------------------------------------------------------------------------
# IDE

**/.idea
.vscode

# ------------------------------------------------------------------------------
# OS artifacts

**/.DS_Store